# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore lock files
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.log.*

# Env
.env
.env.*
!.env.example

# Build
dist/
build/

# Prisma migrations
prisma/migrations/
src/generated

# System Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Github settings or others
.github

# Generated prisma files
/src/generated/prisma


